
.navbar {
    background-color: #8FBC8F;
}

.quemSomos{
    background-color: #3CB371	;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #2E8B57	;
}

.servicos{
    background-color: #006400	;
}

.bg-footer{
    background-color: #2F4F4F	;
    color: #ffffff;
}